In [2]:
import numpy as np
import pandas as pd

# Helper Functions

In [3]:
def output_data(file, algorithm):
    data = pd.read_csv(file, sep=" ", header=None, error_bad_lines=False)
    if data.shape[1] == 5:
        data.drop(data.columns[len(data.columns) - 1], axis=1, inplace=True)
    data.columns = ["k", "s", "cost", "file"]
    data['algorithm'] = algorithm
    return data

## Merge Outputs

In [4]:
import shutil
import os

def copy_outputs(df, output_dir_old, output_dir_new):
    if not os.path.exists(output_dir_new):
        os.makedirs(output_dir_new)
    for file in df['file'].tolist():
        file_code = file.split("/")[1].split('.in')[0]
        shutil.copy2(str(output_dir_old) + str(file_code) + '.out', str(output_dir_new))
        
def merge_best_outputs(ant_file, tsp_file, ant_out_dir, tsp_out_dir, final_out_dir):
    if ant_file and tsp_file:
        ant_data = output_data(ant_file, 'ant')
        tsp_data = output_data(tsp_file, 'tsp')
        merged_tsp_ant = pd.merge(ant_data, tsp_data, left_on='file', right_on='file', suffixes=('_ant', '_tsp'))
        ant_better = merged_tsp_ant[merged_tsp_ant['cost_ant'] < merged_tsp_ant['cost_tsp']]
        tsp_better = merged_tsp_ant[merged_tsp_ant['cost_ant'] >= merged_tsp_ant['cost_tsp']]
        copy_outputs(ant_better, ant_out_dir, final_out_dir)
        copy_outputs(tsp_better, tsp_out_dir, final_out_dir)
    elif tsp_file and not ant_file:
        tsp_data = output_data(tsp_file, 'tsp')
        copy_outputs(tsp_data, tsp_out_dir, final_out_dir)

In [6]:
b = output_data('best_tsp_50.txt', 'tsp')
b.head()

   k  s          cost              file algorithm
0  1  1  2.019085e+02   inputs/85_50.in       tsp
1  1  1  3.770212e+03  inputs/192_50.in       tsp
2  6  6  4.333333e+00  inputs/293_50.in       tsp
3  1  1  7.277832e+01   inputs/78_50.in       tsp
4  6  6  1.155553e+09  inputs/152_50.in       tsp

In [7]:
b = output_data('best_tsp_100.txt', 'tsp')
b.head()

    k   s          cost               file algorithm
0   1   1  6.492717e+07  inputs/131_100.in       tsp
1   7   7  7.400000e+01   inputs/70_100.in       tsp
2   1   1  9.200000e+01  inputs/286_100.in       tsp
3   4   4  1.481217e+09  inputs/152_100.in       tsp
4  12  11  1.195667e+03   inputs/13_100.in       tsp

In [8]:
b = output_data('best_tsp_200.txt', 'tsp')
b.head()

b'Skipping line 310: expected 4 fields, saw 5\n'

    k   s          cost               file algorithm
0  15  14  6.719926e+10  inputs/145_200.in       tsp
1   5   5  4.906800e+04   inputs/79_200.in       tsp
2   1   1  2.308846e+09  inputs/291_200.in       tsp
3   1   1  6.666667e+01   inputs/67_200.in       tsp
4   1   1  2.666720e+10  inputs/126_200.in       tsp